
# 1.0 Data preparation

In [1]:
# Import important libarery 
import pandas as pd
import numpy as np
import random

# set random seed to 10 to have consistent results
random.seed(10)

# create a list of item names
mylist = []
for item in range(1,21):
    mylist.append("item " + str(item))
name_list = np.array(mylist)

# import dataset and add columm names to the imporated dataset
df = pd.read_csv('https://raw.githubusercontent.com/abdo-projects/data-science-portfolio/main/Dataset/Market_Basket_Optimisation.csv', sep= ',', names=name_list )

# Show the the tope 5 obersrvation of the dataset
df.head(5)

,item 1,item 2,item 3,item 4,item 5,item 6,item 7,item 8,item 9,item 10,item 11,item 12,item 13,item 14,item 15,item 16,item 17,item 18,item 19,item 20
0,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
1,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
# add user id attribute into the dataframe
df.insert(0, 'user_id', range(1000, 1000 + len(df)))

#show dataframe
df

,user_id,item 1,item 2,item 3,item 4,item 5,item 6,item 7,item 8,item 9,...,item 11,item 12,item 13,item 14,item 15,item 16,item 17,item 18,item 19,item 20
0,1000,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,...,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
1,1001,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1002,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1003,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1004,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7496,8496,butter,light mayo,fresh bread,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7497,8497,burgers,frozen vegetables,eggs,french fries,magazines,green tea,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7498,8498,chicken,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7499,8499,escalope,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7500,8500,eggs,frozen smoothie,yogurt cake,low fat yogurt,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
# Create a new dataframe by metling the orginal dataframe using user_id as index for the melt
df_new = df.melt(id_vars=["user_id"])

# Rename the columns of df_new: df2_tidy
df_new = df_new.rename(columns = {'variable': 'item_order', 'value': 'item'}, inplace = False)

#show the top 5 results
df_new

        user_id item_order           item
0          1000     item 1         shrimp
1          1001     item 1        burgers
2          1002     item 1        chutney
3          1003     item 1         turkey
4          1004     item 1  mineral water
...         ...        ...            ...
150015     8496    item 20            NaN
150016     8497    item 20            NaN
150017     8498    item 20            NaN
150018     8499    item 20            NaN
150019     8500    item 20            NaN

[150020 rows x 3 columns]

In [4]:
# clean the dataset by dropping rows 
df_clean = df_new.dropna()

# count the NaN values in a column in pandas DataFrame
df_clean.isna().sum()

user_id       0
item_order    0
item          0
dtype: int64

In [5]:
# add a new column date purchased to the dataframe where numbers will be randomly generated by randint
def random_dates(start, end, n=5):
    start_u = start.value//10**9
    end_u = end.value//10**9
    return pd.to_datetime(np.random.randint(start_u, end_u, n), unit='s')
start = pd.to_datetime('2015-01-01')
end = pd.to_datetime('2021-05-15')

# call the function to generate random date and time and assign it to dataframe
df_clean["date_purchased"] = random_dates(start, end, df_clean.shape[0])

#show the top 5 results
df_clean

<ipython-input-5-38f9f2919360>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean["date_purchased"] = random_dates(start, end, df_clean.shape[0])

        user_id item_order           item      date_purchased
0          1000     item 1         shrimp 2020-03-27 09:54:56
1          1001     item 1        burgers 2017-03-10 02:58:03
2          1002     item 1        chutney 2018-03-22 10:39:11
3          1003     item 1         turkey 2016-01-13 04:34:48
4          1004     item 1  mineral water 2017-12-04 18:07:24
...         ...        ...            ...                 ...
129140     2623    item 18    protein bar 2019-08-10 14:25:10
135018     1000    item 19        spinach 2019-03-08 13:38:35
136129     2111    item 19     mayonnaise 2020-06-09 15:59:04
136138     2120    item 19        cereals 2015-07-12 04:39:07
142519     1000    item 20      olive oil 2020-10-09 06:32:43

[29363 rows x 4 columns]

In [6]:
# import dataset and add columm names to the imporated dataset
df_review = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Datasets/amazon_reviews_big.csv', sep= ',')

#show the top 5 results
df_review

FileNotFoundError: [Errno 2] No such file or directory: '/content/drive/MyDrive/Colab Notebooks/Datasets/amazon_reviews_big.csv'

In [ ]:
# clean the dataset by dropping rows 
df_review = df_review.dropna()

#show the number of attributes and observationsdata.shape
df_review.shape

In [ ]:
# drop rows to match orginal dataframe
df_review = df_review.drop(df_review.index[29363:])

#show the number of attributes and observationsdata.shape
df_review.shape

In [ ]:
# shuffle review dataset
df_review = df_review.sample(frac=1).reset_index(drop=True)

# add user id attribute into the dataframe
df_review.insert(0, 'id', range(1000, 1000 + len(df_review)))
df_clean.insert(0, 'id', range(1000, 1000 + len(df_clean)))

# merage dataframes review and data
df_clean = pd.merge(df_clean, df_review, on='id')


#show the top 5 results
df_clean

In [ ]:
# count the NaN values in a column in pandas DataFrame
df_clean.isna().sum()

In [ ]:
# slice unique items from the orginal datafram and assign it to a new datafram list
itemlist = df_clean['item'].unique().tolist()
df_list = pd.DataFrame(data=itemlist, columns=["item"])

# add product id attribute into the dataframe
df_list.insert(0, 'product_id', range(5000, 5000 + len(df_list)))

# save datafram as csv to be exported to add item category manually 
df_list.to_csv("item_list.csv")

#show the top 5 results
df_list.head(5)

In [ ]:
# import dataset and add columm names to the imporated dataset
df_list_cleaned = pd.read_csv('https://abdo.tech/wp-content/uploads/2021/05/item_list_cleaned.csv', sep= ',')

#show the top 5 results
df_list_cleaned.head(5)

In [ ]:
# final dataframe after merging list dataframe and orginal dataframe
data = pd.merge(df_clean, df_list_cleaned, on='item')

# reorder and select columns related
data = data[['user_id', 'product_id', 'item', 'category_code', 'category','overall','summary','reviewText','item_order']]


#show the top 5 results
data.head(5)

In [ ]:
# save datafram as csv to be exported to add item category manually 
data.to_csv("data.csv")

In [ ]:
# count the NaN values in a column in pandas DataFrame
data.isna().sum()